<html>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body onload="getData()">
        <nav>
            <ul>
                <li class="text">
                    <a href="index.html">Video surveillance</a>
                </li>
                <li class="title-ent">
                    <a href="index.html"><b>Post'mouv</b></a>
                </li>
                <li class="text">
                    <a href="rapport.html">Rapport</a>
                </li>
            </ul>
        </nav>
        <div class="title">Rapport postures utilisateurs

        </div>
        <!-- <a href="graph.html">Graphique</a> -->
        <button class="btn" onclick="onCLickBtnGraph()">Graphique</button>
        <button class="btn" onclick="onClickDeleteAll()">Effacer les données</button>
        <div id="key">

        </div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

let data = [];

function onCLickBtnGraph() {
    return window.location.href='graph.html'
}

async function onClickDeleteAll() {
    await axios.delete('http://127.0.0.1:5000/delete')
    .then(function (res) {
        if(res.data.status == 'ok') {
 Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'Rapports supprimés',
  showConfirmButton: false,
  timer: 1500
})

        }
    })
location.reload()
}
async function getData() {
        axios.get('http://127.0.0.1:5000/get_all')
          .then(function (response) {
            console.log(response);
			data = response.data.data;
            
            for (var key of data) {
                console.log(key)
                var badge = document.createElement('div');
                badge.className = 'badge';
                badge.innerHTML =
                '<table>' +
                    '<thead>' +
                        '<tr>' +
                            '<th colspan="4">' +  'RAPPORT'  + '</th>'+
                        '</tr>'+
                    '</thead>' +
                    '<tbody>' +
                        '<tr>' +
                            '<td class="s">' + 'Camera' +'</td>'+
                            '<td class="s">' + 'Bonne position' +'</td>'+
                            '<td class="s">' + 'Mauvaise position' +'</td>'+
                            '<td class="s">' + 'Date' +'</td>'+

                        '<tr>' +
                        '<tr>' +
                            '<td  class="data">' + 1 +'</td>'+

                            '<td  class="data">' + key.good_position + '%' +'</td>'+
                            '<td class="data">' + key.bad_position + '%' + '</td>'+
                            '<td class="data">' + key.date +'</td>'+

                        '<tr>' +
                    '</tbody>' +
                '</table>'
                document.getElementById('key').appendChild(badge);
            
        }
          })
          .catch(function (error) {
            console.log(error);
          });
}
</script>
