<html>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body onload="getData()">
        <nav>
            <ul>
                <li class="title-ent">
                    <a href="index.html"><b>MOLP Internship</b></a>
                </li>
                <li>
                    <a href="index.html">Video surveillance</a>
                </li>
                <li>
                    <a href="rapport.html">Rapport</a>
                </li>
            </ul>
        </nav>
        <div class="title">Rapport postures utilisateurs</div>
        <div id="key">

        </div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

let data = [];
// var ctx = document.getElementById('myChart').getContext('2d');
// var myChart = new Chart(ctx, {
//     type: 'bar',
//     data: {
//         labels: ['Red', 'Blue'],
//         datasets: [{
//             label: '# of Votes',
//             data: [12, 19, 3, 5, 2, 3],
//             backgroundColor: [
//                 'rgba(255, 99, 132, 0.2)',
//                 'rgba(54, 162, 235, 0.2)',
//             ],
//             borderColor: [
//                 'rgba(255, 99, 132, 1)',
//                 'rgba(54, 162, 235, 1)',
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero: true
//                 }
//             }]
//         }
//     }
// });
async function getData() {
        axios.get('http://127.0.0.1:5000/get_all')
          .then(function (response) {
            console.log(response);
			data = response.data.data;
            for (var key of data) {
                console.log(key)
                var badge = document.createElement('div');
                badge.className = 'badge';
                badge.innerHTML =
                '<table>' +
                    '<thead>' +
                        '<tr>' +
                            '<th colspan="4">' +  'RAPPORT'  + '</th>'+
                        '</tr>'+
                    '</thead>' +
                    '<tbody>' +
                        '<tr>' +
                            '<td class="s">' + 'Camera' +'</td>'+
                            '<td class="s">' + 'Bonne position' +'</td>'+
                            '<td class="s">' + 'Mauvaise position' +'</td>'+
                            '<td class="s">' + 'Durée' +'</td>'+

                        '<tr>' +
                        '<tr>' +
                            '<td  class="data">' + 1 +'</td>'+

                            '<td  class="data">' + key.good_position +'</td>'+
                            '<td class="data">' + key.bad_position +'</td>'+
                            '<td class="data">' + 26 +'</td>'+

                        '<tr>' +
                    '</tbody>' +
                '</table>'
//                 <table>
//     <thead>
//         <tr>
//             <th colspan="2">The table header</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>The table body</td>
//             <td>with two columns</td>
//         </tr>
//     </tbody>
// </table>
                    '<h1>' + key.good_position + '</h1>' +
                    '<h2>' +key.good_position + '</h1>' +
                    '<div class="options-only-phone">' 
                document.getElementById('key').appendChild(badge);
            
        }
          })
          .catch(function (error) {
            console.log(error);
          });
}
</script>
